.nav{
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align:center;
    /*top left bottom right*/
    padding: 35px 0 35px 0;
}
/* li that inside nav*/
.nav > li{
    display: inline-block;
    padding-right: 50px;
}
/* links --> "a" tage*/
.nav > li > a{
    /*no underline*/
    font-family: 'Arial', serif;
    text-decoration: none;
    color: #ffffff;
}
.nav > li > a:hover{
    color: #c1c1c1;
}

.subnav {
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align:center;
    /*top left bottom right*/
    padding: 15px 0  35px 0;
    position: absolute;
    display: none;
}
.subnav > li{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
}
.subnav > li > a{
    /*no underline*/
    font-family: 'Arial', serif;
    text-decoration: none;
    color: #ffffff;
}

.subnav > li > a:hover{
    color: #c1c1c1;
}

.nav > li:hover .subnav{
    display: block;
}