{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<style>
  input[type=text] {
    margin: 10px 0;
  }
  .messages{
    list-style:none;
    background-color: #FF0000
  }
</style>
<head xmlns="http://www.w3.org/1999/xhtml">
  <title>{% block title %}{% endblock  %}</title>
  <link rel = "stylesheet" href = "{% static './css/style.css' %}">

  <!-- Use the Google hosted jQuery, common and likely already cached -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Use the Cloudflare hosted Chart library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>  

  <!-- JavaScript for the site -->
  <script src="{% static './js/site.js' %}"></script>
  {% block meta %}{% endblock  %}
</head>

<body>
  <div id="page-container">
    <h1>&nbsp;MaSim LIMS</h1>
    <ul class="nav">
      <li><a href="/">Home</a></li> 
      <li><a>Database</a>
        <ul class="subnav">
          <li><a>Select Database ></a>
            <ul id="sideNav">
              {% for key, value in request.session.databases.items %}
                <li><a href="/setdb/{{ key }}">{{ value.Name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="/createNewDatabase">Create New Databases</a></li>
        </ul>
      </li>
      <li><a href="/study">Study</a></li> 
      <li><a href="/worthToNotice">Long Running Replicates</a></li> 
      <li><a href="/replicatesLatest100">Last 100 Replicates</a></li> 
    </ul>
    <div id="content-wrap">
    {% block content %}{% endblock %}
    </div>
    <footer id="footer" style="text-align: right;">
      &nbsp;<em>Boni Lab @ Penn State</em><p />
    </footer>    
  </div>
  
  <!-- This is a bit of a hack and should be removed -->
  <p id="demo" style="visibility: hidden;"></p>
</body>
</html>