{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<style>
  input[type=text] {
    margin: 10px 0;
  }
  .messages{
    list-style:none;
    background-color: #FF0000
  }
</style>
<head xmlns="http://www.w3.org/1999/xhtml">
  <title>{% block title %}{% endblock  %}</title>
  <link rel = "stylesheet" href = "{% static './css/contenttable.css' %}">
  <link rel = "stylesheet" href = "{% static './css/NavBar.css' %}">
  <link rel = "stylesheet" href = "{% static './css/style.css' %}">
  <link rel = "stylesheet" href = "{% static './css/popup.css' %}">
  <link rel = "stylesheet" href = "{% static './css/textarea.css' %}">
  <link rel = "stylesheet" href = "{% static './css/previousNext.css' %}">

  <!-- Use the Google hosted jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="{% static './js/test.js' %}"></script>
  {% block meta %}{% endblock  %}
</head>
<p id="demo"></p>
<body>
  <div id="page-container">
    <div id="content-wrap">
  <h1>&nbsp;MaSim LIMS</h1>
  <ul class="nav">
    <li><a href = "/1">Home</a></li>
    <li><a>Database</a>
      <ul class="subnav">
        <li><a>Select Database</a>
          <ul id="sideNav">
            {% for key, value in request.session.databases.items %}
              <!--Here setdb is called-->
              <li><a href="/setdb/{{ key }}">{{ value.Name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/createNewDatabase">Create New Databases</a></li>
      </ul>
    </li>
    <li><a href="/study/1">Study</a>
    <li><a href="/worthToNotice/1">Long Running Replicates</a>
    <li><button onclick="last100();" id="last100Btn">Last 100 Replicates</button></li> 
  </ul>
    {% block content %}{% endblock %}
    </div>
    <footer id="footer">
      &nbsp;<em>Boni Lab @ Penn State</em><p />
    </footer>    
  </div>
  <script>
    var tableDataTmp = []
    function last100(){
      $.ajax({
          url: '/replicatesLatest100',
          type: 'POST',
          success: function(result) {
            location.replace('/replicatesLatest100')
          }
        });
    }
  </script>
  <script src="{% static './js/popup.js' %}"></script>
  <script src="{% static './js/tablesort.js' %}"></script>
  <script src="{% static './js/textarea.js' %}"></script>
  <script src="{% static './js/tableDisplay.js' %}"></script>
  <script src="{% static './js/last100Sort.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="{% static './js/ChartLast100.js' %}"></script>
</body>
</html>