{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<style>
  input[type=text] {
    margin: 10px 0;
  }
  .messages{
    list-style:none;
    background-color: #FF0000
  }
</style>
<head xmlns="http://www.w3.org/1999/xhtml">
  <title>{% block title %}{% endblock  %}</title>
  <link rel = "stylesheet" href = "{% static './css/contenttable.css' %}">
  <link rel = "stylesheet" href = "{% static './css/NavBar.css' %}">
  <link rel = "stylesheet" href = "{% static './css/style.css' %}">
  <link rel = "stylesheet" href = "{% static './css/popup.css' %}">
  <link rel = "stylesheet" href = "{% static './css/textarea.css' %}">
  <link rel = "stylesheet" href = "{% static './css/page404.css' %}">
  {% block meta %}{% endblock  %}
</head>
<p id="demo"></p>
<body>
  <div id="page-container">
    <div id="content-wrap">
  <h1>&nbsp;MaSim LIMS</h1>
  <ul class="nav">
    <li><a href = "/">Home</a></li>
    <li><a>Select Database</a>
      <ul class="subnav">
        {% for key, value in request.session.databases.items %}
          <!--Here setdb is called-->
          <li><a href="/setdb/{{ key }}">{{ value.Name }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="/study">Study</a>
    <li><a href="/worthToNotice">Long Running Replicates</a>
    <li><a href="/replicatesLatest100">Last 100 Replicates</a></li>
  </ul>
    {% block content %}{% endblock %}
    </div>
    <footer id="footer">
      &nbsp;<em>Boni Lab @ Penn State</em><p />
    </footer>    
  </div>
  <script src="{% static './js/popup.js' %}"></script>
  <script src="{% static './js/tablesort.js' %}"></script>
  <script src="{% static './js/textarea.js' %}"></script>
</body>
</html>