{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Configurations{% endblock %}

{% block meta %}
<script src="{% static './js/tableDisplay.js' %}"></script>
<script src="{% static './js/last100Sort.js' %}"></script>

<script>
  $(document).ready(function() {
    setInterval(function(){
        $('#table-body').empty();
        $('#pagination-wrapper').empty();
        tableDisplay('{{localURL}}','configMessage','configTable');
        setTargetURL('{{localURL}}');
    }, 60000);
    tableDisplay('{{localURL}}',"configMessage","configTable");
    setTargetURL('{{localURL}}');
  });
</script>
{% endblock %}

{% block content %}
<div class="center" id="configMessage"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
  <table id="configTable" class="content-table" style="margin-left:auto;margin-right:auto;margin-top: 1em">
    <thead>
      <tr>
        <th> Filename </th>
        <th> Spatial Parameter: (ncols, nrows, xllcorner, yllcorner, cellsize) </th>
        <th> Replicate Number </th>
      </tr>
    </thead>
    <tbody id = "table-body"></tbody>
  </table>
  <div>
    <div id="pagination-wrapper"></div>
  </div>
  {% endblock %}