{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Configurations{% endblock %}
{% block meta %}
<!-- Refresh every minute -->
<meta http-equiv="refresh" content="60">
{% endblock %}
{% block content %}
<div class="center"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
  <table class="content-table" style="margin-left:auto;margin-right:auto;">
    <thead>
      <tr>
        <th> ID </th>
        <th> Filename </th>
        <th> Spatial Parameter: (ncols, nrows, xllcorner, yllcorner, cellsize) </th>
        <th> Replicate Number </th>
      </tr>
    </thead>
    <tbody>
      {% for r in rows %}
        <tr>
          <td><a style="text-decoration:none; color:#000000" href="/ConfigReplicate/{{r.0}}/1">{{r.0}}</a></td>
          <td><a style="text-decoration:none; color:#000000" href="/ConfigReplicate/{{r.0}}/1">{{r.3}}</a></td>
          <td><a style="text-decoration:none; color:#000000" href="/ConfigReplicate/{{r.0}}/1">{{r.4}}</a></td>
          <td><a style="text-decoration:none; color:#000000" href="/ConfigReplicate/{{r.0}}/1">{{r.5}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="previousNext">
    <a href="{{newPathPart}}/{{pageNumberPrev}}" class="previous">&laquo; Previous</a>
    <a href="{{newPathPart}}/{{pageNumberNext}}" class="next">&nbsp;&nbsp;&nbsp;Next&raquo;&nbsp;&nbsp;&nbsp;</a>
  </div>
  {% endblock %}