{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Studys{% endblock %}
{% block meta %}

<!-- Refresh every minute -->
<meta http-equiv="refresh" content="60">

<script>
  var tableData = [];
  var targetURL;
  var previousHeaderInder = 0;
  var state = {
    'querySet': tableData,
    'page': 1,
    'rows': 20,
    'window': 5,
  };
  var currentIsAscending = false;

  // set timer, build table, and set URL
  $(document).ready(function() {
    tableDisplay('{{localURL}}','indexMessage','indexTable');
    setTargetURL('{{localURL}}');
    setInterval(function(){
      $('#table-body').empty();
      $('#pagination-wrapper').empty();
      tableDisplay('{{localURL}}','indexMessage','indexTable');
      setTargetURL('{{localURL}}');
  }, 60000);
  });
  
  // ajax code used for notes delete operation
  function deleteNote(id) {
    if (confirm("Are you sure you wish to delete the study?")) {
      $.ajax({
        url: '/study/DeleteFail/'.concat(id),
        type: 'DELETE',
        success: function(result) {
          alert("Study deleted!");
          location.reload();
        }
      });
    }
    return false;
  }
</script>
{% endblock %}

{% block content %}
<div class="center" id="indexMessage"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>

<!-- for error message -->
  <div style="text-align: center">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Input: Add an empty text box on the studies page that allows the user to enter a study name, there should also be a "Submit" button that the user can click.-->
  <form action="/study/InsertFail" style="text-align: center;" method="POST">
    {% csrf_token %}
    Study Name: <input type="text" name="studyName" style="font-size:0.9em; margin: 10px;"><br>
    <input type="submit" id = "Submit" value="Submit" style="font-size:0.9em;">
  </form>
  
  <!-- Build table and pagination-wrapper -->
  <table id="indexTable" class="content-table" style="margin-left:auto;margin-right:auto;margin-top: 1em">
    <thead>
      <tr>
        <th>Study Name</th>
        <th>Study ID</th>
        <th>Count of Configurations</th>
        <th>Count of Replicates</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id = "table-body"></tbody>
  </table>
  <div>
    <div id="pagination-wrapper"></div>
  </div>
{% endblock %}
