{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Studys{% endblock %}
{% block meta %}
<!-- Refresh every minute -->
<meta http-equiv="refresh" content="60">
{% endblock %}
 <!--margin-top margin-right margin-bottom margin-left-->

{% block content %}
<div class="center"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
  <div align="center">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Input: Add an empty text box on the studies page that allows the user to enter a study name, there should also be a "Submit" button that the user can click.-->
  <form action="/study/InsertFail" align = "center">
    {% csrf_token %}
    Study Name: <input type="text" name="studyName" style="font-size:0.9em; margin: 10px;"><br>
    <input type="submit" value="Submit" style="font-size:0.9em;">
  </form>
  <table class="content-table" style="margin-left:auto;margin-right:auto">
    <thead>
      <tr>
        <th>Study Name</th>
        <th>Study ID</th>
        <th>Count of Configurations</th>
        <th>Count of Replicates</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for r in  rows%}
        <tr>
          <!--r.0 studyid-->
          <td><a style="text-decoration:none; color:#000000" href="/StudyConfig/{{ r.0 }}">{{r.1}}</a></td>
          <td><a style="text-decoration:none; color:#000000" href="/StudyConfig/{{ r.0 }}">{{r.0}}</a></td>
          <td><a style="text-decoration:none; color:#000000" href="/StudyConfig/{{ r.0 }}">{{r.2}}</a></td>
          <td><a style="text-decoration:none; color:#000000" href="/StudyReplicate/{{ r.0 }}">{{r.3}}</a></td>
          <!-- If the count of configurations is 0 and the count of replicates is 0, then a link labeled "[DELETE]" should appear under the "Actions" column for studies.-->
          {% if 0 == r.2 and 0 == r.3 %}
            <td>
              <a style="text-decoration:none; color:#000000" href="/StudyReplicate/{{ r.0 }}">[NOTES]</a>
              <button id="popUpButton-{{r.0}}" class="button">[DELETE]</button>
              <div id="popUpWindow-{{r.0}}" class="popUp">
                <div class="popUpContent">
                  <div class="popUpHeader">
                    <span id = "close-{{r.0}}" class="close">&times;</span>
                    <h2>DELETE?</h2>
                  </div>
                  <div class="popUpBody">
                    <h3>Are you sure that you wish to delete {{r.1}}?</h3>
                  </div>
                  <div class="option">
                        <a href="/study/DeleteFail/{{ r.0 }}">DELETE</a>
                        <a href="">CANCEL</a>
                  </div>
                </div>
              </div>
            </td> 
          <!--normal operations-->
          {% else %}
            <td>
              <a style="text-decoration:none; color:#000000" href="/StudyReplicate/{{ r.0 }}">[NOTES]</a>
            </td> 
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}