{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Last 100 Replicates{% endblock %}

{% block meta %}

<script>
  var tableData = [];
  var targetURL;
  var previousHeaderInder = 0;
  var state = {
    'querySet': tableData,
    'page': 1,
    'rows': 20,
    'window': 5,
  };
  var currentIsAscending = false;
  $(document).ready(function() {
    tableDisplay('{{localURL}}','last100Message','last100Table');
    setTargetURL('{{localURL}}');
    last100DisplayChart();
    
    setInterval(function(){
      $('#table-body').empty();
      $('#pagination-wrapper').empty();
      $('#chartPlace').empty();
      var chart = $('#chartPlace');
      chart.append(`<canvas id="last100Chart"></canvas>`);
      last100DisplayChart();
      tableDisplay('{{localURL}}','last100Message','last100Table');
      setTargetURL('{{localURL}}');
    }, 60000);
  });
</script>
{% endblock %}

{% block content %}
<div class="center" id="last100Message"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>

<!-- This page will take awhile to load -->
<div class="center" id="pageLoading" style="margin-top: 5em; width: 66%">
  <strong style="font-size: larger;">Chart Loading...</strong><br />
  <img src="{% static './images/loading.gif' %}" style="margin-top: 2em; padding-bottom: 2em;"/>
</div>

<!-- place for chart -->
<div class="container", id="chartPlace">
  <canvas id="last100Chart"></canvas>
</div>

<!-- build table and pagination-wrapper -->
<table id="last100Table" class="content-table" style="margin-left:auto; margin-right:auto; margin-top: 1em">
  <thead>
    <tr>
      <th>ID</th>
      <th>File Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Movement</th>
      <th>Running Time</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan = "4">X - Movement not recorded, C - Movement is recorded at the cellular level, D - Movement is recorded at the distinct or province level</td>
    </tr>
  </tfoot>
  <tbody id = "table-body">
  </tbody>
</table>

<div>
  <div id="pagination-wrapper"></div>
</div>
{% endblock %}