{% extends "base.html" %}
{% load static %}

{% block title %}MaSim LIMS / Long Running Replicates{% endblock %}

{% block meta %}
<script>
  var replicatesList = [];
  var tableData = [];
  var targetURL;
  var previousHeaderInder = 0;
  var state = {
    'querySet': tableData,
    'page': 1,
    'rows': 20,
    'window': 5,
  };
  var currentIsAscending = false;
  // Set timer, table, and URL
  $(document).ready(function() {
    tableDisplay('{{localURL}}',"replicateMessage","replicateTable");
    setTargetURL('{{localURL}}');
    setInterval(function(){
      $('#table-body').empty();
      $('#pagination-wrapper').empty();
      tableDisplay('{{localURL}}',"replicateMessage","replicateTable");
      setTargetURL('{{localURL}}');
    }, 60000);
  });
</script>
{% endblock %}

{% block content %}
<!-- for message block -->
<div class="center" id="replicateMessage"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
<!-- build table -->
<table id="replicateTable" class="content-table" style="margin-left:auto; margin-right:auto; margin-top: 1em">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Start Time</th>
      <th>Movement</th>
      <th>Running Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan = "5">X - Movement not recorded, C - Movement is recorded at the cellular level, D - Movement is recorded at the distinct or province level</td>
    </tr>
  </tfoot>
  <!--- Rendered using JavaScript after the AJAX response --->
  <tbody id = "table-body"></tbody>
</table>
<div>
  <div id="pagination-wrapper"></div>
</div>
<!-- Delete button -->
<div class="deleteReplicates">
  <button onclick="passReplicateList()">Delete</button>
</div>
{% endblock %}