{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Notes{% endblock %}

{% block meta %}

<script>
  var tableData = [];
  var targetURL;
  var previousHeaderInder = 0;
  var state = {
    'querySet': tableData,
    'page': 1,
    'rows': 20,
    'window': 5,
  };
  var currentIsAscending = false;
  // When web page is ready, set up text area
  $(document).ready(function() {
    /* disable the input button*/
    document.getElementById('saveNotes').disabled = true;

    document.getElementById('notes').addEventListener('input',() => {
        const max = 32;
        const remaining = max - document.getElementById('notes').value.length;
        const total = document.getElementById('notes').value.length;
        // Text counter
        if(remaining <= 0){
            document.getElementById('remaining').textContent = `total ${total} characters`;
            document.getElementById('saveNotes').disabled = false;
        }
        else{
            document.getElementById('remaining').textContent = `${remaining} characters remaining`;
            document.getElementById('saveNotes').disabled = true;
        }
    });
  });


  // Delete notes operation ajax code
  function deleteNote(id, study) {
    if (confirm("Are you sure you wish to delete the note?")) {
      $.ajax({
        url: '/Study/DeleteNotes/'.concat(study, '/', id),
        type: 'DELETE',
        success: function(result) {
          alert("Note deleted!");
          location.reload();
        }
      });
    }
    return false;
  }


  // set timer to refresh the table
  setInterval(function(){
      $('#table-body').empty();
      $('#pagination-wrapper').empty();
      tableDisplay('{{localURL}}','notesMessage','notesTable');
      setTargetURL('{{localURL}}');
  }, 60000);
  tableDisplay('{{localURL}}','notesMessage','notesTable');
  setTargetURL('{{localURL}}');
</script>
{% endblock %}

{% block content %}
<div class="center" id="notesMessage"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
<!-- When there are some notes, build notes table -->
{% if tableNeed %}
  <table id="notesTable" class="content-table" style="margin-left:auto; margin-right:auto; margin-top: 1em">
      <thead>
        <tr>
          <th>Data</th>
          <th>User</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id = "table-body"></tbody>
  </table>
  <div>
    <div id="pagination-wrapper"></div>
  </div>
{%endif%}
<!-- Here is the form to fill in order to save notes -->
<form action="/Study/NotesRecord/{{id}}" align = "center" id="notesInfo" method = "POST">
    {% csrf_token %}
    <div>
      <label for="notes">Notes: </label>
      <textarea name="notes" id="notes" required></textarea>
    </div>
    <div id="remaining">32 characters</div>
    <div>
        <label for="UserName">User: </label>
        <!--"{{user}}" regard all as one string-->
        <input type="text" name="UserName" id="UserName" value="{{user}}">
    </div>
    <!-- submit through "POST" method -->
    <input type="submit" id="saveNotes" value="Save" style="font-size:0.9em;">
</form>
{% endblock %}