{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Notes{% endblock %}
{% block meta %}

{% endblock %}

{% block content %}
<script>
  function deleteNote(id, study) {
    if (confirm("Are you sure you wish to delete the note?")) {
      $.ajax({
        url: '/Study/DeleteNotes/'.concat(study, '/', id),
        type: 'DELETE',
        success: function(result) {
          alert("Note deleted!");
          location.reload();
        }
      });
    }
    return false;
  }
</script>

<div class="center" id="notesMessage"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
{% if tableNeed %}
  <table id="notesTable" class="content-table" style="margin-left:auto; margin-right:auto; margin-top: 1em">
      <thead>
        <tr>
          <th>Data</th>
          <th>User</th>
          <th>Date</th>
          <th>Study ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for r in rows %}
          <tr>
            <td><a style="text-decoration:none; color:#000000">{{r.1}}</a></td>
            <td><a style="text-decoration:none; color:#000000">{{r.2}}</a></td>
            <td><a style="text-decoration:none; color:#000000">{{r.3}}</a></td>
            <td><a style="text-decoration:none; color:#000000">{{r.4}}</a></td>
            <td>
              <button id="delete" onclick="return deleteNote({{r.0}}, {{r.4}});">[DELETE]</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <div class="previousNext">
    <a href="{{newPathPart}}/{{pageNumberPrev}}" class="previous">&laquo; Previous</a>
    <a href="{{newPathPart}}/{{pageNumberNext}}" class="next">&nbsp;&nbsp;&nbsp;Next&raquo;&nbsp;&nbsp;&nbsp;</a>
  </div>
{%endif%}
<form action="/Study/NotesRecord/{{id}}" align = "center" id="notesInfo" method = "POST">
    {% csrf_token %}
    <div>
      <label for="notes">Notes: </label>
      <textarea name="notes" id="notes" required></textarea>
    </div>
    <div id="remaining">32 characters</div>
    <div>
        <label for="UserName">User: </label>
        <!--"{{user}}" regard all as one string-->
        <input type="text" name="UserName" id="UserName" value="{{user}}">
    </div>
    <input type="submit" id="saveNotes" value="Save" style="font-size:0.9em;">
</form>
<script>
  messageBoxAdjust('notesMessage','notesTable');
</script>
<script src="{% static './js/textarea.js' %}"></script>
{% endblock %}