{% extends "base.html" %}
{% load static %}

{% block title %}MaSim LIMS / Replicates{% endblock %}

{% block meta %} 
<!-- Refresh every minute -->
<meta http-equiv="refresh" content="60">
<script type="text/javascript">
  // Sort by the start time once loaded
  $(document).ready(function() {
    sortTableByColumn(document.getElementById('replicateTable'), 1, false);
  })
  
  // AJAX function for the last 100 replicates
  var tableDataTmp = []
  function last100(){
    $.ajax({
      url: '/replicatesLatest100',
      type: 'POST',
      success: function(result) {
        location.replace('/replicatesLatest100')
      }
    });
  }
  </script>
{% endblock %}

{% block content %}
<div class="center"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
<table id="replicateTable" class="content-table" style="margin-left:auto; margin-right:auto; margin-top: 1em">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Movement</th>
      <th>Running Time</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan = "4">X - Movement not recorded, C - Movement is recorded at the cellular level, D - Movement is recorded at the distinct or province level</td>
    </tr>
  </tfoot>
  <tbody>
    {% for r in rows %}
      <tr>
        <td><a style="text-decoration:none; color:#000000">{{r.1}}</a></td>
        <td><a style="text-decoration:none; color:#000000">{{r.2}}</a></td>
        <td><a style="text-decoration:none; color:#000000">{{r.3}}</a></td>
        <td><a style="text-decoration:none; color:#000000">{{r.4}}</a></td>
        <td><a style="text-decoration:none; color:#000000">{{r.5}}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="previousNext">
  <a href="{{newPathPart}}/{{pageNumberPrev}}" class="previous">&laquo; Previous</a>
  <a href="{{newPathPart}}/{{pageNumberNext}}" class="next">&nbsp;&nbsp;&nbsp;Next&raquo;&nbsp;&nbsp;&nbsp;</a>
</div>
{% endblock %}