{% extends "base.html" %}
{% load static %}

{% block title %}MaSim LIMS / Replicates{% endblock %}

{% block meta %} 
  <script>
    // delete long running replicates
    function deleteReplicate(id) {
      if (confirm("Are you sure you wish to delete this replicate?")) {
        $.ajax({
          url: '/deleteLongRunning'.concat('/', id),
          type: 'DELETE',
          success: function(result) {
            alert("Replicate deleted!");
            location.reload();
          }
        });
      }
      return false;
    }
  </script>
{% endblock %}

{% block content %}
<script>
  // OK
  setInterval(function(){
      $('#table-body').empty();
      $('#pagination-wrapper').empty();
      tableDisplay('{{localURL}}',"replicateMessage","replicateTable");
      setTargetURL('{{localURL}}');
  }, 60000);
</script>

<div class="center" id="replicateMessage"><strong>{{ viewType }} {{ request.session.dbname }}</strong></div>
<table id="replicateTable" class="content-table" style="margin-left:auto; margin-right:auto; margin-top: 1em">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Start Time</th>

      <!--- Don't display the end time if the replicates are running  --->
      {% if localURL != '/worthToNotice' and localURL != '/' %} <th>End Time</th> {% endif %}

      <th>Movement</th>
      <th>Running Time</th>

      {% if localURL == '/worthToNotice' %}<th>Action</th>{% endif %}

    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan = "4">X - Movement not recorded, C - Movement is recorded at the cellular level, D - Movement is recorded at the distinct or province level</td>
    </tr>
  </tfoot>

  <!--- Rendered using JavaScript after the AJAX response --->
  <tbody id = "table-body"></tbody>
</table>

<div>
  <div id="pagination-wrapper"></div>
</div>
<script src="{% static './js/tableDisplay.js' %}"></script>
<script src="{% static './js/last100Sort.js' %}"></script>
<script>
  tableDisplay('{{localURL}}',"replicateMessage","replicateTable");
  setTargetURL('{{localURL}}');
</script>
{% endblock %}