{% extends "base.html" %}
{% load static %}
{% block title %}MaSim LIMS / Study Chart{% endblock %}
<!-- Working -->
{% block meta %}
<script src="https://unpkg.com/mathjs/dist/math.min.js"></script>
<!-- Study Chart does not need to be refreshed -->
{% endblock %}

{% block content %}

<div class="center" id="chartMessage"><strong>{{ viewType }} {{ studyname }}</strong></div>

<div class="container", id="chartPlace">
  <canvas id="studyReplicateChart"></canvas>
</div>

<div id="statistics">
</div>

<table id="studyReplicateTable" class="content-table" style="margin-left:auto; margin-right:auto; margin-top: 1em">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Movement</th>
      <th>Running Time</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan = "4">X - Movement not recorded, C - Movement is recorded at the cellular level, D - Movement is recorded at the distinct or province level</td>
    </tr>
  </tfoot>
  <tbody id = "table-body">
  </tbody>
</table>
<!-- reference: https://dennis-sourcecode.herokuapp.com/7/ -->
<div>
  <div id="pagination-wrapper"></div>
</div>
<script src="{% static './js/tableDisplay.js' %}"></script>
<!-- <script src="{% static './js/ChartLast100.js' %}"></script> -->
<script src="{% static './js/last100Sort.js' %}"></script>
<script src="{% static './js/studyReplicateChart.js' %}"></script>
<script>
  // Spread
  studyReplicateChart('{{localURL}}');
  tableDisplay('{{localURL}}','chartMessage','studyReplicateTable');
  setTargetURL('{{localURL}}');
</script>
{% endblock %}