.center{
    margin-left: 100px;
    margin-right: 100px;
    border: 3px solid #041E42;
    padding: 10px;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.center{
    margin: auto;
}
/* Used on 404 page */
.center > a{
    text-decoration: none;
    font-weight: bold;
    color: #041E42;
    font-size: medium;
}

/* Used on 404 page */
.center > h1 > a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

#tableLast100{
    display: none;
}
#pagination-wrapper{
    margin-top: -50px;
    text-align: center;
}
.pageNum{
    background-color: #041E42;
    color: white;
    margin: 0px,2px,0px,2px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 5px;
    line-height: 2;
}

.container{
    height: auto;
    width: 1000px;
    margin: auto;
}